In [2]:
## USER 테이블 build
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
spark = (
    SparkSession.builder \
                .master("local")
                .appName("World Count")
                .getOrCreate()
)
file_path = r"C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-11.json"
file_path1 = r"C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-10.json"
df = spark.read.format('json').option("multiLine", True).load(file_path)
df1 = spark.read.format('json').option("multiLine", True).load(file_path1)
# 직업명을 제대로 채우기
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType , DoubleType
df = df.select(F.explode("ranking").alias("USER"))
df = df.select("USER.character_name",
               "USER.date",
               "USER.class_name",
               "USER.sub_class_name",
               "USER.character_level",
               "USER.character_exp",
               "USER.ranking")
df = df.withColumn("class",df["sub_class_name"])
df = df.withColumn("class",F.when(df["sub_class_name"]== "", df["class_name"]) \
                            .otherwise(df["class"]))
df = df.drop("class_name","sub_class_name")


# 각 유저의 위치한 지역 컬럼추가
df = df.withColumn("status",
                   F.when(df["character_level"]>=290,"Tallahart") \
                    .when((df["character_level"]<=289)&(df["character_level"]>=285),"Carcion") \
                    .when((df["character_level"]<=284)&(df["character_level"]>=280),"Arteria") \
                    .when((df["character_level"]<=279)&(df["character_level"]>=275),"Dowonkyung") \
                    .when((df["character_level"]<=274)&(df["character_level"]>=270),"Odium") \
                    .when((df["character_level"]<=269)&(df["character_level"]>=265),"HotelArcs") \
                    .when((df["character_level"]<=264)&(df["character_level"]>=260),"Cernium") \
                    .otherwise("AcaneRiver"))

file_path = r"C:\Users\brian\Desktop\JUNSOO\rankingflow\data\maple_exp.csv"
schema = StructType([
    StructField("row_number",IntegerType(),True),
    StructField("level",IntegerType(),True),
    StructField("need_exp",DoubleType(), True)
])
exp_df = spark.read.format('csv').schema(schema).option("multiLine", True).load(f"{file_path}")
exp_df.show(10)
exp_df = exp_df.dropna()
exp_df = exp_df.select("level","need_exp")
exp_df.show(10)

+----------+-----+-----------------+
|row_number|level|         need_exp|
+----------+-----+-----------------+
|      NULL| NULL|             NULL|
|         0|  260|1.731919984062E12|
|         1|  261|1.749239183902E12|
|         2|  262|1.766731575741E12|
|         3|  263|1.784398891498E12|
|         4|  264|1.802242880412E12|
|         5|  265|2.342915744535E12|
|         6|  266| 2.36634490198E12|
|         7|  267|2.390008350999E12|
|         8|  268|2.413908434508E12|
+----------+-----+-----------------+
only showing top 10 rows

+-----+-----------------+
|level|         need_exp|
+-----+-----------------+
|  260|1.731919984062E12|
|  261|1.749239183902E12|
|  262|1.766731575741E12|
|  263|1.784398891498E12|
|  264|1.802242880412E12|
|  265|2.342915744535E12|
|  266| 2.36634490198E12|
|  267|2.390008350999E12|
|  268|2.413908434508E12|
|  269|2.438047518853E12|
+-----+-----------------+
only showing top 10 rows

In [ ]:
class_status = df.groupBy("class","date").pivot("status").agg(F.count("status"))
class_status.show()

In [26]:
from jobs.spark_common.base import make_user_dataframe
from pyspark.sql import SparkSession
spark = (
    SparkSession.builder \
                .master("local")
                .appName("World Count")
                .getOrCreate()
)
file_path = r"C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-11.json"
file_path1 = r"C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-10.json"
df1 = make_user_dataframe(spark,file_path)
df2 = make_user_dataframe(spark,file_path1)

ModuleNotFoundError: No module named 'spark_common'

In [ ]:
from pprint import pprint
import sys
(sys.path.append("C:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow"))
pprint(sys.path)

from jobs.spark_common.base import make_user_dataframe
from pyspark.sql import SparkSession
spark = (
    SparkSession.builder \
                .master("local")
                .appName("World Count")
                .getOrCreate()
)
file_path = r"C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-11.json"
file_path1 = r"C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-10.json"
df1 = make_user_dataframe(spark,file_path)
df2 = make_user_dataframe(spark,file_path1)

['C:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow\\plugins',
 'C:\\Users\\brian\\AppData\\Local\\Temp\\spark-623e3e83-66a3-40cc-872d-2099bc8fc0ea\\userFiles-6a49d165-e70b-46a2-b010-e3ce9569be91',
 'C:\\Users\\brian\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip',
 'C:\\Users\\brian\\AppData\\Local\\Programs\\Python\\Python312\\DLLs',
 'C:\\Users\\brian\\AppData\\Local\\Programs\\Python\\Python312\\Lib',
 'C:\\Users\\brian\\AppData\\Local\\Programs\\Python\\Python312',
 'c:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow\\venv',
 '',
 'c:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow\\venv\\Lib\\site-packages',
 'c:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow\\venv\\Lib\\site-packages\\win32',
 'c:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow\\venv\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow\\venv\\Lib\\site-packages\\Pythonwin',
 'C:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow',
 'C:\\Users\\brian\\Desktop\\JUNSOO\\rankingflow']
C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-11.json data를 load 합니다.
C:\Users\brian\Desktop\JUNSOO\Project\ETL_DATA\data\ranking_2024-10-10.json data를 load 합니다.

In [39]:
df1.show(3)
df2.show(3)

+--------------+----------+---------------+---------------+-------+----------+---------+
|character_name|      date|character_level|  character_exp|ranking|     class|   status|
+--------------+----------+---------------+---------------+-------+----------+---------+
|          버터|2024-10-11|            297|843016259192919|      1|나이트로드|Tallahart|
|          헨쇼|2024-10-11|            296|759870313066254|      2|      아델|Tallahart|
|   케인WWE챔프|2024-10-11|            296| 24509577197550|      3|배틀메이지|Tallahart|
+--------------+----------+---------------+---------------+-------+----------+---------+
only showing top 3 rows

+--------------+----------+---------------+---------------+-------+----------+---------+
|character_name|      date|character_level|  character_exp|ranking|     class|   status|
+--------------+----------+---------------+---------------+-------+----------+---------+
|          버터|2024-10-10|            297|813645542531833|      1|나이트로드|Tallahart|
|          헨쇼|2024-10-10|            296|747242572907010|      2|      아델|Tallahart|
|   케인WWE챔프|2024-10-10|            296| 16689886609018|      3|배틀메이지|Tallahart|
+--------------+----------+---------------+---------------+-------+----------+---------+
only showing top 3 rows

In [38]:
joined_df = df1.join(df1,df1["character_name"] == df2["character_name"],how="inner")
joined_df.count()
df1.show(3)
df2.show(3)

AnalysisException: Column character_name#1504 are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same. This column points to one of the Datasets but Spark is unable to figure out which one. Please alias the Datasets with different names via `Dataset.as` before joining them, and specify the column using qualified name, e.g. `df.as("a").join(df.as("b"), $"a.id" > $"b.id")`. You can also set spark.sql.analyzer.failAmbiguousSelfJoin to false to disable this check.